img {
  max-width: 100%;
}

/* All the extra colors below are for setting up the color scheme,
   so I can keep adjusting the colors in the Chrome dev tools */

body {
  padding: 1em;
  background-color: #2F1847;
  /*background-color: #624763;*/
  /*background-color: #C62E65;*/
  /*background-color: #F9B3D1;*/
  /*background-color: #D63AF9;*/
  /*color: #2F1847;*/
  /*color: #624763;*/
  /*color: #C62E65;*/
  color: #F9B3D1;
  /*color: #D63AF9;*/
}

.main {
  margin: auto;
  width: 75%;
}

hr {
  margin: 1em;
  width: 80%;
}

 /*Text Styles */

p {
  font-size: 1em;
}

h1 {
  /*color: #2F1847;*/
  /*color: #624763;*/
  color: #C62E65;
  /*color: #F9B3D1;*/
  /*color: #D63AF9;*/
  text-align: center;
}

h3 {
  text-align: center;
}

/* Link Styles */

a, a:link, a:active {
  /*color: #2F1847;*/
  /*color: #624763;*/
  /*color: #C62E65;*/
  /*color: #F9B3D1;*/
  color: #D63AF9;
}
