img {
  max-width: 100%;
}

body {
  padding: 1em;
  background-color: #C3B59F;
  color: #4A6670;
}

.main {
  margin: auto;
  width: 75%;
}

hr {
  margin: 1em;
  width: 80%;
}

 /*Text Styles */

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4 {
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
}

h1, h2 {
  color: #668F80;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  text-align: center;
  font-size: 2em;
}

/* Link Styles */

a, a:link, a:active {
  color: #C62E65;
}
