img {
  max-width: 100%;
}

/* All the extra colors below are for setting up the color scheme,
   so I can keep adjusting the colors in the Chrome dev tools */

body {
  padding: 1em;
  background-color: #C3B59F;
  color: #4A6670;
}

.main {
  margin: auto;
  width: 75%;
}

hr {
  margin: 1em;
  width: 80%;
}

 /*Text Styles */

p {
  font-size: 1em;
}

h1, h2 {
  color: #668F80;
  text-align: center;
}

h3 {
  text-align: center;
}

/* Link Styles */

a, a:link, a:active {
  color: #C62E65;
}
