.template {
  display: none;
}

.pull-left {
  float:left;
}

.pull-right {
  float: right;
}

nav {
  display: flex;
}

nav li {
  justify-content: space-around;
  font-family: 'Sorts Mill Goudy', serif;
  margin: 0 5px;
}

nav li a {
  text-decoration: none;
  color: #624763;
}

ul {
  margin: auto;
  display: block;
}
